@{
    ViewData["Title"] = "About us";
}



<h1 class="display-3 text-center font-weight-bold">About us</h1>

<br />

<p class="text-justify">
    A small Valaisan project created in 2020 in Sierre, ValaisBooking.ch has become one of the largest e-commerce companies in our neighborhood in the travel sector.
    ValaisBooking.ch works every day so that exploring the Valais is within everyone's reach. To achieve this mission and make it easy for everyone to experience the world,
    the company invests in technology. ValaisBooking.com thus offers millions of travelers unforgettable accommodation experiences. ValaisBooking.ch is one of the largest travel
    platforms in Valais and serves both large groups and individuals. It allows establishments of all sizes in the Valais to reach an international clientele and to develop their business.
</p>

<hr />

<blockquote class="blockquote text-left font-italic">
    <p class="mb-0">Working on this project was an incredible experience !</p>
    <footer class="blockquote-footer">Aguiar Paulo, Co-CEO of ValaisBooking.ch</footer>
</blockquote>


<blockquote class="blockquote text-right font-italic">
    <p class="mb-0">Being able to help people and businesses by doing my job... what a pleasure ! </p>
    <footer class="blockquote-footer">Rexhepi Valon, Co-CEO of ValaisBooking.ch</footer>
</blockquote>

<blockquote class="blockquote text-left font-italic">
    <p class="mb-0">For the moment nobody is using our site but we hope it will come ! </p>
    <footer class="blockquote-footer">Richard Laurian, CFO of ValaisBooking.ch</footer>
</blockquote>

<blockquote class="blockquote text-right font-italic">
    <p class="mb-0">I landed in this s..t, but I had a lot of fun ! </p>
    <footer class="blockquote-footer">Zemrani Nadir, UFO out of nowhere</footer>
</blockquote>





