@{
    ViewData["Title"] = "ValaisBooking.ch | Official site | The best rooms in Valais ! ";
}


<style>
    .Description
    {
        font-weight: bold;
        font-size: x-large;
    }
</style>

    <h1 class="display-3 text-center font-weight-bold"> Welcome to ValaisBooking.ch </h1>

    <blockquote class="blockquote text-center font-italic">
        <p class="mb-0">Wow ! Incredible service, now finding something in Valais is so easy !</p>
        <footer class="blockquote-footer">Christian Constantin, local millionaire, in <cite title="Source Title">Le Valaisan</cite></footer>
    </blockquote>
    
    <br />

    <center>
        <div id="carouselHome" class="carousel slide " data-ride="carousel" style="width: 60rem;">
            <ol class="carousel-indicators">
                <li data-target="#carouselHome" data-slide-to="0" class="active"></li>
                <li data-target="#carouselHome" data-slide-to="1"></li>
                <li data-target="#carouselHome" data-slide-to="2"></li>
                <li data-target="#carouselHome" data-slide-to="3"></li>
            </ol>

            <div class="carousel-inner">
                <div class="carousel-item active" style="border-radius: 15px; overflow:hidden">
                    <img class="d-block h-100 w-100" src="~/images/Home0.jpg">
                    <div class="carousel-caption d-none d-md-block">
                        <p class="Description">Discover natural wonders...</p>
                    </div>
                </div>
                <div class="carousel-item" style="border-radius: 15px; overflow:hidden">
                    <img class="d-block h-100 w-100" src="~/images/Home1.jpg">
                    <div class="carousel-caption d-none d-md-block">
                        <p class="Description">Discover magnificent landscapes...</p>
                    </div>
                </div>
                <div class="carousel-item" style="border-radius: 15px; overflow:hidden">
                    <img class="d-block h-100 w-100" src="~/images/Home2.jpg">
                    <div class="carousel-caption d-none d-md-block">
                        <p class="Description">Discover historical cities...</p>
                    </div>
                </div>
                <div class="carousel-item" style="border-radius: 15px; overflow:hidden">
                    <img class="d-block h-100 w-100" src="~/images/Home3.jpg">
                    <div class="carousel-caption d-none d-md-block">
                        <p class="Description">And much more ...</p>
                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#carouselHome" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselHome" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </center>







